#cityListPane, #weatherPane {
    display: none;
}

#todaysWeather {
    background-color: blue;
    color: white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    margin-bottom : 30px;
    padding: 10px;
}

.dailyBlock {
    background-color: blue;
    color: white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding-bottom: 30px;
}