#cityListPane, #weatherPane {
    display: none;
}

#pageTitle {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#todaysWeather {
    background-color: blue;
    color: white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    margin-bottom : 30px;
    padding: 10px;
}

.dailyBlock {
    background-color: blue;
    color: white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding-bottom: 30px;
}

.historyBtn, hr, form label, input, button{
    width:90%;
    margin: 10px;

}

form label {
    font-size: 20px;
}

hr {
    width: 90%
    
}
.searchListItem {
    list-style-type: none;
}



